html, body, a, h1{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* font-family:'Segoe UI','Söhne','ui-sans-serif','system-ui','-apple-system','Roboto','Ubuntu','Cantarell','Noto Sans','sans-serif','Helvetica Neue','Arial','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'; */
  font-feature-settings: normal;
  font-family: SÃ¶hne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variation-settings: normal;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}


.getstartedButton {
  font-size: .875rem !important;
  font-weight: 600 !important;
  --bs-btn-color: white !important;
  --bs-btn-bg: #3f3ffd !important;
  --bs-btn-hover-bg: #0000FF !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-active-color: white !important;
  --bs-btn-active-bg: #0000FF !important;
}
.font-circle {
   font-size: 40px;
   margin-top: -18px;
}